.release-notes {
    border-radius: 5px;
    border: solid 1px var(--main-text-color);
    padding: 20px;
}

.gitmark {
    width: 25px;
    float: right;
    z-index: 5;
}

.higher {
    position: relative;
    z-index: 5;
}

.low-vis {
    opacity: 0.6;
}