.file > p {
    margin: 0;
    user-select: none;
}

.file > .hoverFileText {
    color: var(--hover-text-color);
}

.file > .fileText {
    color: var(--main-text-color);
}

.file {
    padding: 10px;
    text-align: center;
    float: left;
}

.folder {
    margin-left: 20px;
}

.window {
    position: relative;
}

.window > .content{
    position: absolute;
    padding: 20px;
    padding-top: 40px;
}

.window-sides {
    overflow: auto;
}

.window-left {
    float: left;
}

.window-right {
    float: right;
}

.disabled {
    opacity: 0.5;
}