@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=VT323&display=swap');

:root {
  --main-bg-color: #191A1C;
  --main-text-color: #f2f0e5;
  --hover-text-color: #f2f0e5a2;
  --main-font: 'Barlow Condensed';
  --secondary-font: 'VT323';
  --header-font-size: 48px;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
}

#navbar {
  float: right;
}

#title {
  float: left;
  margin-top: 20px;
}

#header {
  margin-top: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
